<div class="panel panel-default"><h1>Welcome to the Admin Index page.</h1>
<p>It's <%= Time.now.in_time_zone("Central Time (US & Canada)") %></p>
<p>We have <%= pluralize(@total_orders, "order") %></p>
</div>