<!DOCTYPE html>
<html>
  <head>
    <title>Lastmeme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar navbar-success">
  
   
    <ul class="nav navbar-nav">
      <li><a class="nav navbar-nav" href="/static_pages/home">Metzler's Wonder Imporium </a></li>
      <li><a href="/"> Store </a></li>
      <li><a href="/products"> Products</a></li>
      <li><a href="/static_pages/help">Ehh, Help</a></li>
      <li><a href="/static_pages/about">Come About</a></li>
    </ul>
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
